{% extends "base.html" %}
{% block title %} Employee List {% endblock %}

{% block content %} 
<div class="d-flex justify-content-between mb-3">
    <h2>Employee List</h2>
    <a class="btn btn-primary" href="{% url 'create' %}">Create Employee</a>
</div>

{%if employees%}
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Employee Contact</th>
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ employee.employee_id }}</td>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.employee_email }}</td>
            <td>{{ employee.employee_contact }}</td>
            <td>
                <a href="{% url 'update' employee.pk %}" class="btn btn-success btn-sm">Update</a>
                <button class="btn btn-danger btn-sm" data-bs-target="#deleteModal" data-bs-toggle="modal" data-id="{{ employee.pk }}">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else%}
<H1>Create employees first</H1>
{%endif%}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Action</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete this employee?
            </div>
            <div class="modal-footer">
                <form method="POST" id="deleteForm">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function(event){
        const button = event.relatedTarget;
        const employeeId = button.getAttribute('data-id');
        const deleteForm = document.getElementById('deleteForm');
        // Added the trailing slash to the URL
        deleteForm.action = `/delete/${employeeId}/`;
    })
</script>

{% endblock %}